<h1>Essential</h1>

<!-- Main header
Two Icons (Shelter/Meals)
Search Bar w/ PlaceHolder
Horizontal Line
Four icons: Medical, Women, Men, Children/Families
 -->


<%= bootstrap_form_tag url: 'search', method: :get do |f| %>
	<%= f.text_field :search_term, label: 'Search' %>
	<%= f.primary 'Search' %>
<% end %>
