
<h1>Essential</h1>

<div class= "col-md-6">
	<%= image(:src => '/img/myphoto.jpg') -%>
</div>
<div class= "col-md-6">
</div>

<div class= "container">
	<%= bootstrap_form_tag url: 'search', method: :get do |f| %>
		<%= f.text_field :search_term, label: 'Search' %>
		<%= f.primary 'Search' %>
	<% end %>
</div>