<div class="container">
<h1>About Essential</h1>

<p>Essential is an app that helps people in need find shelter and/or a hot meal throughout the Seattle area.</p>

<p>On any given day, more than 9,000 men, women, and children in Seattle are homeless.  Some of these people are considered chronically homeless (defined as living on the streets for a year or more), but many more (as many as two-thirds) are temporarily or episodically homeless.  Moreover, in Washington State, 1 out of 5 residents relies on food banks and/or hot meals programs daily.</p>

<p>We designed Essential with two other trends in mind: the number of low-income Americans (those living in households with an annual income of less than $30,000) who own smart phones has doubled in recent years and, increasingly, they rely almost solely on their devices for online access.</p>

<p>Our app provides users with the ability to search for shelter and/or food based on their location.  We designed Essential according to mobile-first principles.</p>

<p>Essential was developed by four students as part of a group project for General Assembly-Seattle's Web Development Immersive Program.</p>

</div>