<h1>About Essential</h1>

<p>Essential is an app that helps people in need find shelter and/or a hot meal throughout the Seattle area.</p>

<p>Essential was developed by four students as part of a group project for General Assembly-Seattle's Web Development Immersive Program</p>

