<div class="container">
<h1>About Essential</h1>

<p>Essential is an app that helps people in need find shelter and/or a hot meal throughout the Seattle area.</p>

<p>Essential was developed by four students as part of a group project for General Assembly-Seattle's Web Development Immersive Program</p>

</div>

<!-- link to read me? -->

<!-- Notes 

vs. assumptions about people who are homeless and low-income 

Access to free wifi, access to public computers via libraries

Use of facebook and texting

Forbes: Mobile First
-Low-income Americans "much more likely to rely on their mobile device as their main or only method of going online."
-2013 Pew Research Survey: "45% of users living in households with an annual income of less than $30,000 mostly use their phone to go online." vs. 27% of Americans with incomes over $75,000
-6 out of 10 Hispanics, 43% of African Americans in lowest income bracket vs. 27% whites

Fast Coexist (?): 
-2011-13: nationwide smart phone ownership doubled for low-income adults (39% to 77% among 18-29, 26% to 47% for 30-49, and significant increases among older, low-income adults)
-some existing government subsidy programs for mobile devices (as well as lower prices and increase in affordable options, including pay-as-you-go options)

PC News:
-14.5% of US living below the poverty line (number of Americans at or near?)

Crisis Clinic:
-SKCCH: more than 8,000 people are homeless in Seattle on any given night (housing insecure vs. chronic)
-3.5 m Americans are homeless; 1.6m of those Americans are minors
-5 types of shelters in Seattle: family, single women/men, couples (very rare), youth, domestic violence
	-some shelters cater to specific races, LGBTQ, certain ages, etc.

NW Harvest:
-1/5 of kids in WA live in households where persistent hunger is an issue
-1/5 of WA residents rely on food banks/hot meal programs
-1/7 relies on SNAP and 1/2 of that population is children

-->