<div class="container">

<h1><strong>Other Resources</strong></h1>

<p>Looking for something else?  Here are a few additional links to other resources, including information about low-income housing options and other services for people in need.</p>

<h3><a href="http://www.resourcehouse.com/WIN211/topic_search.aspx" target="_blank">Resource House (WIN211)</a></h3>
<p>Description of services...</p>

<h3><a href="http://www.housingsearchnw.org/" target="_blank">Housing Search NW</a></h3>
<p>Description of services...</p>

<h3><a href="http://www.scn.org/crisis/" target="_blank">Seattle Crisis Resource Directory</a></h3>
<p>Description of services...</p>

<h3><a href="http://www.northwestharvest.org/find-help" target="_blank">Northwest Harvest: Hunger Resources</a></h3>
<p>A list of meals and food banks programs available throughout Washington State</p>

<h1><strong>Volunteer Opportunties</strong></h1>
<h3><a href="https://www.volunteermatch.org/search?l=Seattle%2C+WA&r=20&k=&sk=&na=&partner=&usafc=&categories=7&categories=39&advanced=1" target="_blank">VolunteerMatch in Seattle</a></h3>

<h3><a href="http://www.northwestharvest.org/how-to-help-1" target="_blank">Northwest Harvest: How to Help</a></h3>
</div>

