<div class="container">

<h1>Other Resources</h1>

<p>Looking for something else?  Here are a few additional links to other resources, including information about low-income housing options and other services for people in need</p>

<h3><a href="http://www.resourcehouse.com/WIN211/topic_search.aspx">Resource House (WIN211)</a></h3>
<p>Description of services...</p>

<h3><a href="http://www.housingsearchnw.org/">Housing Search NW</a></h3>
<p>Description of services...</p>

<h3><a href="http://www.scn.org/crisis/homeless.html">Seattle Crisis Resource Directory</a></h3>
<p>Description of services...</p>

</div>
