<div id="footer" class="container-fluid">
<footer>
	<div class="col-md-4">24-HOUR CRISIS LINE: <a href"tel:1-866-427-4747">1-866-427-4747</a></div>
	<div class="col-md-4">WA RECOVERY HELP LINE: <a href"tel:1-866-789-1511">1-866-789-1511</a> (24/7)</div>
	<div class="col-md-4">TEEN LINK: <a href"1-866-833-6546">1-866-833-6546</a> (EVENINGS 6-10pm)</div>
</footer>
</div>
