<% @meal_results.each do |i| %>

    <% if (i[:distance] * 10) < 100 %>

        <a href="/expanded/meal/<%= i[:result][:title] %>"> <h1><%= i[:result][:title] %></h1> </a>
        <h3>Distance: <%= number_with_precision(i[:distance], precision: 2) %> Miles</h3>

    <% end %>

<% end %>
