
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);


.essentialH1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;	
	color: white;
	padding-top: 80px;
	font-size: 48px;
}

body {
	font-family: 'Montserrat', sans-serif;
	/*background-color: #fffaf0;*/
	background-image: url('paper.png');
	/*background-repeat: no-repeat;*/
	/*background-size: 100%;*/
	margin: 0 0 60px; 
}

.navbar {
	background-color: #FFA631;
	margin-bottom: 30px;
}

html {
    position: relative;
    min-height: 100%;
}

#footer {
  	font-family: 'Montserrat', sans-serif;
	background-color: #FFA631;
	/*background-color: #7db700;*/
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	text-align: center;
	vertical-align: middle;
}

#indexP {
	color: #181b56; /*Fernando's suggestion for blue*/
	padding: 10px;
	font-size: 16px;
	/*background: rgba(78,220,107,.3);*/
	background: rgba(255,255,255,.7);
	border-radius: 8px;
	margin: 20px;
	text-align: center;
}

.circle {
	border-radius: 50%;
	width: 250px;
	height: 250px; 
	/* width and height can be anything, as long as they're equal */
	background-color: #FFA631;
	margin-bottom: 20px;
}

.signMsg {
	margin-top: 6.9%;
} 

.navbar-nav > li .btn.btn-link {
	padding-top: 15px;
    padding-bottom: 15px;
    border: none;
}

figure {
	/*max-width: 100%;*/
	/*width: 25vw;*/
    /*height: auto;*/
	/*margin: 0 auto;*/
	text-align: center;
	
}
.icons {
	display: inline;
}
figure:nth-child(2){
	/*float: right;*/
}
figure:nth-child(1){
	/*float: left;*/
}
.shelter-wrapper, .meal-wrapper {
	margin: 0 auto;
	width: 50%;
}

input[type="image"] {
	display: inline-block;
	max-width: 128px; 	
	max-height: 128px;
	width: 75%;
	height: 75%;
}

@media only screen and (max-width: 1000px) {
	.essential {
		display: none;
	}
	.pull-left, .pull-right{
    	float: none !important;
    }
}

@media only screen and (max-width: 500px) {
    .essential {
    	display: none;
    }
    figcaption {
    	width: auto;
    	/*text-align: center;*/
    	margin: 0 auto;
    	font-size: 10px;
    }
    footer {
	    font-family: 'Montserrat', sans-serif;
		background-color: #FFA631;
		font-size: 85%;
		/*background-color: #7db700;*/
		position: absolute;
		left: 0;
		bottom: 0px;
		width: 100%;
		min-height: 60px;
		/*height: auto;*/
		text-align: center;
		vertical-align: middle;
    }
}
